@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav ul {
    padding-left: 0ex;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2ex;
}

textarea {
    width: 90vw;
    height: 20ex;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

table {
    border: 1px outset gray;
    border-collapse: collapse;
    margin-bottom: 2ex;
}

table tr th {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table tr td {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

code {
    font-family: "Courier New", monospace;
}

pre {
    white-space: pre-wrap;
}

.table .row {
    margin-top: 2ex;
}

.error {
    color: red;
}

#result_area ul {
    padding: 0ex;
    list-style: none;
}

#result_area ul li {
    display: inline-block;
    margin-right: 1ex;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    textarea {
        width: 50ex;
    }

    button {
        width: auto;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 2ex 0.5ex 0ex;
        vertical-align: middle;
    }

}

