@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav span {
    margin-right: 1ex;
}

input {
    width: 90vw;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

table {
    border: 1px outset gray;
    border-collapse: collapse;
    margin-bottom: 2ex;
}

table tr th {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table tr td {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

code {
    font-family: "Courier New", monospace;
}

pre {
    white-space: pre-wrap;
}

.table .row {
    margin-top: 2ex;
}

.table .row .note {
    padding-left: 1ex;
    font-size: small;
}

.table .row .item {
    padding-left: 2ex;
}

.hidden {
    visibility: hidden;
}

.error {
    color: red;
}

.invalid {
    background-color: pink;
}

#result_area ul {
    list-style-type: none;
    padding: 0ex;
}

#result_area ul li {
    display: inline-block;
    margin-right: 1ex;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    #pattern {
        width: 50ex;
    }

    button {
        margin-top: 0ex;
        width: auto;
    }

    .box {
        margin: 3ex 0ex;
        border: 1px solid gray;
        padding: 2ex;
    }

    .box h2 {
        margin: 0ex 0ex 1ex;
    }

    .box input[type="number"] {
        width: 10ex;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 2ex 0.5ex 0ex;
        vertical-align: middle;
    }

}

